<form [formGroup]="form">
  <div class="mb-10">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-300">Email address</label>
    <input
      id="email"
      type="email"
      class="border text-sm rounded-lg focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500"
      formControlName="email"
      autocomplete="off"
    />
    <ng-container *ngIf="form.controls.email.dirty">
      <p *ngIf="form.controls.email.valid" class="mt-2 text-sm text-green-500 absolute">Alright! Email available!</p>
      <p *ngIf="form.controls.email.invalid" class="mt-2 text-sm text-red-500 absolute">Oh no! Email invalid!</p>
    </ng-container>
  </div>
  <div class="mb-10">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-300">Password</label>
    <input
      type="password"
      id="password"
      class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:border-blue-500"
      formControlName="password"
      autocomplete="off"
    />
    <ng-container *ngIf="form.controls.password.dirty">
      <p *ngIf="form.controls.password.valid" class="mt-2 text-sm text-green-500 absolute">Password looks OK!</p>
      <p *ngIf="form.controls.password.pending" class="mt-2 text-sm text-yellow-500 absolute">
        Validation in progress... Please wait.
      </p>
      <p *ngIf="form.controls.password.invalid" class="mt-2 text-sm text-red-500 absolute">
        Password is too risky! Try to write something more secure.
      </p>
    </ng-container>
  </div>

  <div>
    <button
      type="submit"
      class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800 cursor-pointer disabled:cursor-not-allowed disabled:hover:bg-gray-500 disabled:bg-gray-500"
      [disabled]="!form.valid"
      (click)="onSubmit()"
    >
      Submit
    </button>

    <span
      class="ml-5 text-sm font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-200"
      [class.bg-green-200]="form.status === 'VALID'"
      [class.text-green-900]="form.status === 'VALID'"
      [class.bg-yellow-200]="form.status === 'PENDING'"
      [class.text-yellow-900]="form.status === 'PENDING'"
      [class.bg-red-200]="form.status === 'INVALID'"
      [class.text-red-900]="form.status === 'INVALID'"
    >
      {{ form.status }}
    </span>
  </div>
</form>
